$color-accent: #d82a33
$color-text: #000000
$color-text-alt: #454545
$color-background: #FFFFFF
$color-background-alt: #F2F2F2
$color-border: rgba(0, 0, 0, 0.30)
$color-selection: $color-background
$color-selection-background: rgba($color-text, .7)
$body-overlay-color: none

$heading-font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif
$body-font-family: $heading-font-family

$header-background: none
$header-border-bottom-width: 0
$header-logo-height: 32px
$header-logo-height-desktop: 50px
$header-sticky-dropdown-background: $color-accent
$header-sticky-dropdown-color: $color-background
$header-dropdown-color: $color-background
$hero-background-color: none
$footer-background-color: none
$footer-logo-height: 80px
$footer-logo-height-desktop: 80px