#document-footer
    overflow: hidden
    padding-top: 150px !important
    .footer-site
        color: $color-background
        position: absolute
        bottom: var(--grid-gutter)
        right: var(--grid-gutter)
        text-align: right
        @include media-breakpoint-up(lg)
            transform: rotateZ(20deg)
        address
            margin-top: 0 !important
    .footer-credit
        @include media-breakpoint-down(lg)
            margin-bottom: $spacing-7
    #search-button
        z-index: -1
        color: $color-accent
        position: absolute
        transform: rotateZ(20deg)
        @include media-breakpoint-down(lg)
            right: 20%
            bottom: 200px
        @include media-breakpoint-up(lg)
            right: 30%
            top: 100px
        &::before
            content: ''
            background: $color-accent
            width: 5000px
            height: 5000px
            top: $spacing-4
            position: absolute
