#document-header
    .logo
        > img:not(.logo-darkmode)
            display: block !important
        .logo-darkmode
            display: none !important
        .has-menu-opened & 
            > img:not(.logo-darkmode)
                display: none !important
            .logo-darkmode
                display: block !important

@include media-breakpoint-up(lg)
    .menu 
        .nav-level-1 
            li.has-children 
                [aria-expanded="true"] + .dropdown-menu
                    align-items: flex-end
                    display: flex
                    justify-content: flex-end
                    min-height: 600px
                    transform-origin: 100% 0%
                    transform: rotate(15deg) translateY(-200px)
                    z-index: -1
            > li > a
                @include small
        .nav-level-3
            padding-top: 0
            margin-bottom: $spacing-2
            li
                margin-top: 0
